*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.container1{
    /* border: 2px solid; */
    height: 1400px;
    width: 100%;
    /* background-image: ; */
    /* background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.90) 31.45%, rgba(0, 0, 0, 0.40) 82.5%);; */
}
nav{
    /* border: 2px solid; */
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.logodiv{
    background-image: url(./assets/Logonetflix.png);
    background-size: cover;
    height: 40px ;
    width: 148px;
    margin-left: 16px;
}
.navbaritems{
    /* border: 2px solid; */
    height: 38px;
    width: 788.53px;
    padding-right: 3px;
    display: flex;
    justify-content: end;
}
#s1{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: transparent;
    height: 32px;
    width: 124.4px;
    text-align: center;
    /* padding: 6px 36px 6px 34px; */
}
#a1{
    /* border: 2px solid black; */
    height: 32px;
    width: 88.86px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    padding-top: 5px;
}
/* hero banner */
.herobannerdiv{
    /* border: 2px solid; */
    height: 536px;
    width: 100%;
    background-image: url(./assets/herobanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#b1{
    height: 56px;
    width: 267.63px;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: relative;
    left: 600px;
    margin-top: 20px;
}
#h1-container1{
    font-weight: bold;
    padding-left: 100px;
    padding-top: 50px;
    color: white;
}
.spanitem1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 2px;
}
.span1{
    height: 258px;
    width: 184px;
    padding-left: 10px;

}
#img1{
    height: 258px;
    width: 184px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
/* tab items */
.tab-items-list{
    display: flex;
    justify-content: center;
    gap: 45px;
    position: relative;
    right: 125px;
    /* padding: 20px; */
}
.tab-items-list1{
    /* border: 2px solid white; */
    height: 132.4px;
    width: 231px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0, 0, 0, 0.841);
    color: white;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.485);
    /* padding: 14px 16px 72px; */
    /* margin-left: 100px; */
}
#t-p1{
    height: 46.4px;
    width: 199px;
    font-weight: bold;
    font-size: 18px;
    /* background-color: grey; */
    background-color: rgba(128, 128, 128, 0);
}
/* questions */
.questions{
    padding-left: 100px;
    margin-top: 10px;
}
#q-b1{
    height: 72px;
    width: 969.6px;
    padding: 24px;
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.841);
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: grey;
    background-color: rgba(128, 128, 128, 0.485);
}
#q-img1{
    height: 24px;
    width: 24px;
    color: white;
    background-color: grey;
    background-color: transparent;
}
.getbutton{
    /* border: 2px solid; */
    height: 88px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#g-b1{
    background-color: red;
    color: white;
    height: 40px;
    width: 150.16px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
#g-p1{
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 50px;
    right: 200px;
}
.footerbox{
    /* border: 2px solid; */
    height: 428.4px;
    width: 100%;
    margin: 24px 0px 0px;
    padding: 0px 140px;
}
.footerbox-1{
    /* border: 2px solid; */
    height: 368.4px;
    width: 972.8px;
    /* margin: -36px 0px 0px; */
}
.ul-lists{
    display: flex;
    justify-content: space-between;
}
.ul1{

}
#ul-a{
    color: grey;
    font-size: 18px;
    line-height: 50px;
}
